.fc {
  font-size: larger;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(225, 250, 4);
}
.tt{
  /* text-transform: capitalize; */
  /* text-transform: lowercase; */
  text-transform: uppercase;
  /* text-transform: none; */
}
.td{
  /* text-decoration: overline; */
  /* text-decoration: line-through; */
  text-decoration: underline;
  /* text-decoration: none; */
}
.au{
  text-decoration:none;
  color: #a6ff02f8;
  background-color: #05a3ff;

}
.mixture{
  color: #fc07b2;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
}